<html>
<head>
<title>
Quizzing app
</title>
<style type="text/css">

ul
{
list-style-type:none;
}
.container
{
font-size:1.4em;
margin-left:10px;
margin-top:10px;
border:2px solid black;

}
body
{
background:#009de0 !important;
}
#no{
display:inline;
}

</style>
</head>


<div class="container">
<div ng-repeat="question in questions">
<span >{{$index+1}}.</span>
<p id="no">{{question.questions.question}}</p>
<ul >

<li ng-repeat="answer in question.questions.answers"><input ng-click="setAnswer($parent.$index,$index)" type="radio"></input>{{answer}}

</li>

</ul>

</div>

<input type="submit" value="Submit" class="btn btn-success" ng-click="compute()"></input>
<input type="submit" value="Hide" class="btn btn-success" ng-click="hideAlert()"></input>
</div>

<div ng-show="showResult" class="alert alert-success" data-dismiss="alert" role="alert">You scored {{answerScore}}</div>

